.home-page-services-details {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    margin-top: 1.5rem;
    font-family: var(--archivoRegular);
    font-size: 3.5rem;
    color: #757575;
    text-align: center;
}

@media (max-width: 680px) {
    .home-page-services-details {
        transform: scale(0.9);
    }
}

@media (max-width: 460px) {
    .home-page-services-details {
        transform: scale(0.8);
        margin-top: 1rem;
    }
}

@media (max-width: 370px) {
    .home-page-services-details {
        transform: scale(0.75);
        margin-top: -3rem;
    }
}