.home-page-tools-bg {
    width: 100%;
    background-color: rgba(191, 215, 237, 0.5);
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.home-page-tools {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.home-page-tools-mobile {
    display: none;
}

@media (max-width: 425px) {
    .home-page-tools {
        display: none;
    }

    .home-page-tools-mobile {
        display: block;
    }
}