.header-desktop-navigation-button {
    font-family: var(--robotoMedium);
    padding: 2rem;
    cursor: pointer;
    position: relative;
    color: var(--primary-grey);

    transition: all 200ms linear;
}

.header-desktop-navigation-button:hover {
    color: #fff;
}

.header-desktop-navigation-button::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.3rem;
    background-color: var(--primary-green);
    transform: scaleX(0);
    transition: all 200ms linear;

    position: absolute;
    left: 0;
    bottom: 1rem;
}

.header-desktop-navigation-button--selected {
    color: var(--primary-green);
}

.header-desktop-navigation-button--selected::after{
    transform: scaleX(0.8);
}