.home-page-services-card {
    width: 20rem;
    height: 20rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    cursor: pointer;
    transition: all 200ms linear;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 2fr;
    justify-items: center;
    row-gap: 1rem;
}

.home-page-services-card:hover {
    -webkit-box-shadow: 0px 5px 0px 0px var(--primary-green);
    box-shadow: 0px 5px 0px 0px var(--primary-green);
    margin-top: -1rem;
}

.home-page-services-card__img {
    width: 45%;
    align-self: flex-end;
}

.home-page-services-card__title {
    font-family: var(--robotoRegular);
    align-self: flex-start;
    font-weight: 200;
}

@media (max-width: 620px) {
    .home-page-services-card {
        --card-position: ;
        width: 30rem;
        height: 5rem;
        justify-self: var(--card-position);

        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
        align-items: center !important;
        padding: 0.4rem 2rem;
        gap: 2rem;
    }

    .home-page-services-card__img {
        width: unset;
        height: 90%;
    }

    .home-page-services-card__title {
        justify-self: flex-start;
        align-self: center !important;
    }
}