.title-question {
    text-align: center;
    padding: 6rem 0rem;
    font-size: 4rem;
    line-height: 4.4rem;
    font-family: var(--georgiaRegular);
    cursor: context-menu;
}

@media (max-width: 700px) {
    .title-question {
        font-size: 3.5rem;
        padding: 5rem 0rem;
    }
}

@media (max-width: 600px) {
    .title-question {
        font-size: 3rem;
        padding: 3rem 0rem;
    }
}