.header-mobile-navigation {
    width: calc(100vw + 1rem);
    height: calc(100vh - 80px);
    /* background-color: rgba(0, 0, 0, 0.5); */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);

    display: grid;
    grid-template-columns: 1fr;
    justify-items: flex-end;
}

.header-mobile-navigation__items-container {
    width: 30%;
    min-width: 20rem;
    height: 100%;
    background-color: rgb(20, 36, 56);
}