.header-rates-terms {
    color: #fff;

    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    column-gap: 0.5rem;
}

.header-rates-terms__span-green {
    color: var(--primary-green);
    font-weight: bold;
    text-decoration: underline solid var(--primary-green);
}