.header-mobile-navigation-button {
    width: 100%;
    padding: 2rem;
    color: var(--primary-grey);
    transition: all 200ms linear;

    position: relative;
}

.header-mobile-navigation-button--selected {
    color: var(--primary-green);
    padding-left: 5rem;
}