.header-logo {
    height: 100%;
    border: 50%;
    border-radius: 50%;
    cursor: pointer;

    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
}

.header-logo__img {
   height: 60px;
}