.header-bg {
    width: 100%;
    height: fit-content;
    background-color: rgb(11, 23, 37);

    position: fixed;
    top: 0;
    z-index: 500;
}

.header {
    height: 80px;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.header__logo {
    height: inherit;
}

.header__desktop-nav {
    justify-self: flex-end;
}

.header__hamburger {
    display: none;
}

.header__mobile-nav {
    display: none;

    position: absolute;
    top: 8rem;
    left: calc(-100% - 1rem);
    transition: all 200ms linear;
}

.header__mobile-nav--show {
    left: -1rem;
}

@media (max-width: 768px) {
    .header__desktop-nav {
        display: none;
    }

    .header__hamburger {
        display: block;
        justify-self: flex-end;
    }

    .header__mobile-nav {
        display: block;
    }
}