.home-purchase-10 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    gap: 5rem;
}

.home-purchase-10__inputs-section {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    align-items: center;
    gap: 3rem;
}