.privacy-safety-card {
    width: 100%;
    height: 100%;
    padding: 3rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-items: center;

    position: relative;
}

.privacy-safety-card--devider::before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background-color: green;

    position: absolute;
    left: 0;
}

.privacy-safety-card__image-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.privacy-safety-card__img {
    height: 4.5rem;
    width: auto;
}

.privacy-safety-card__title-container {
    max-width: 85%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 2.2rem;
    margin-bottom: 1rem;
}

.privacy-safety-card__title {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.9rem;
    text-align: center;
}

.privacy-safety-card__details-container {
    max-width: 27.8rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.privacy-safety-card__details {
    opacity: 0.7;
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 2.4rem;
    text-align: center;
}

@media (max-width: 600px) {
    .privacy-safety-card--devider::before {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        background-color: green;
        transform: scaleX(0.9);
    
        position: absolute;
        left: unset;
        top: 0;
    }
}