.home-page-services-title {
    font-family: var(--archivoBlack);
    padding-top: 4rem;
    font-size: 5rem;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

@media (max-width: 1128px) {
    .home-page-services-title {
        font-size: 4.5rem;
    }
}

@media (max-width: 1017px) {
    .home-page-services-title {
        font-size: 4rem;
    }
}

@media (max-width: 906px) {
    .home-page-services-title {
        font-size: 3.5rem;
    }
}

@media (max-width: 796px) {
    .home-page-services-title {
        font-size: 3rem;
    }
}

@media (max-width: 400px) {
    .home-page-services-title {
        font-size: 2.4rem;
    }
}