/* Fonts */

@font-face {
  font-family: "Roboto-Regular";
  src: url(/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Roboto-Light";
  src: url(/fonts/Roboto/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(/fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: "Archivo-Black";
  src: url(/fonts/Archivo/Archivo-Black.ttf) format('truetype');
}

@font-face {
  font-family: "Archivo-Regular";
  src: url(/fonts/Archivo/Archivo-Regular.ttf) format('truetype');
}

/* Personal Prefrences */

:root {
  /* Fonts */
  --robotoRegular: "Roboto-Regular";
  --robotoLight: "Roboto-Light";
  --robotoMedium: "Roboto-Medium";
  --archivoBlack: "Archivo-Black";
  --archivoRegular: "Archivo-Regular";

  /* colors */
  --primary-green: rgb(48, 184, 94);
  --primary-grey: rgba(255, 255, 255, 0.5);

  /* Scroll Bar Width Variable */
  --client-width: 0px;

  font-size: 62.5%;
}

*,*::after,*::before {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: var(--robotoRegular);
  height: 400vh;
}