.home-page-services-cards {
    margin: 0 auto;
    margin-top: 4rem;

    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-items: center;
    justify-content: center;
    gap: 2rem;
}

@media (max-width: 900px) {
    .home-page-services-cards {
        transform: scale(0.9);
    }
}

@media (max-width: 800px) {
    .home-page-services-cards {
        transform: scale(0.8);
    }
}

@media (max-width: 700px) {
    .home-page-services-cards {
        transform: scale(0.7);
    }
}

@media (max-width: 620px) {
    .home-page-services-cards {
        grid-template-columns: 1fr;
        transform: scale(1);
        max-width: 80%;
    }
}

@media (max-width: 550px) {
    .home-page-services-cards {
        max-width: unset;
    }
}